<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Fix name</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><b><%= link_to question.name, question %></b></td>
    <td><%= question.label %></td>
    <td><%= question.fix_name %></td>
  </tr>
<% end %>
</table>

