<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
  </tr>

<% @baskets.each do |basket| %>
  <tr>
    <td><b><%= link_to basket.name, basket %></b></td>
    <td><%= basket.description %></td>
    <td><%= basket.user_id %></td>
  </tr>
<% end %>
</table>

