<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
Baskets</h1>
</div>

<hr>


<%= render 'table' %>

<% if can? :manage, Basket %>
<div class="box admin">
<%= link_to 'New Basket', new_basket_path %>
</div>
<% end %>
