<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Study unit</th>
  </tr>

<% @logical_products.each do |logical_product| %>
  <tr>
    <td><b><%= link_to logical_product.name, logical_product %></b></td>
    <td><%= logical_product.label %></td>
    <td><%= link_to logical_product.study_unit.name,
            logical_product.study_unit unless
            logical_product.study_unit.blank? %></td>
  </tr>
<% end %>
</table>

