<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
logical Products</h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>About</h2>
<%= render 'about' %>
</div>

<% if can? :manage, LogicalProduct %>
<%= link_to 'New Logical product', new_logical_product_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>All Logical Products</h2>
<%= render 'table' %>
</div>
