<table>
  <tr>
    <th>Value</th>
    <th>Label</th>
  </tr>

<% @question_scales.each do |question_scale| %>
  <tr>
    <td><b><%= question_scale.value %></b></td>
    <td><%= question_scale.label %></td>
  </tr>
<% end %>
</table>

