<table>
  <tr>
    <th>Author</th>
    <th>Name</th>
    <th>Year</th>
  </tr>

<% @publications.each do |publication| %>
  <tr>
    <td><b><%= publication.author %></b></td>
    <td><%= link_to publication.name, publication %></td>
    <td><%= publication.year %></td>
  </tr>
<% end %>
</table>

