<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Study unit</th>
  </tr>

<% @data_collections.each do |data_collection| %>
  <tr>
    <td><%= link_to data_collection.name, data_collection %></td>
    <td><%= data_collection.label %></td>
    <td><%= link_to data_collection.study_unit.name, data_collection.study_unit unless data_collection.study_unit.blank? %></td>
  </tr>
<% end %>
</table>

