<div class="span-24">
<h1><%= @data_collection.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Data Collection</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @data_collection %>
<%= link_to 'Edit', edit_data_collection_path(@data_collection) %> |
<%= link_to 'Back', data_collections_path %>
<% end %>
</div>
