<p>
  <b>Variable:</b>
  <%= @variable_statistic.variable_id %>
</p>

<p>
  <b>Statistic:</b>
  <%= @variable_statistic.statistic %>
</p>

<p>
  <b>Value:</b>
  <%= @variable_statistic.value %>
</p>

