
<%= render 'info' %>

<% if can? :manage, @variable_statistics %>
<div class="box admin">
<%= link_to 'Edit', edit_variable_statistic_path(@variable_statistic) %> |
<%= link_to 'Back', variable_statistics_path %>
</div>
<% end %>
