<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Study</th>
    <th>Current?</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><b><%= link_to group.name, group %></b></td>
    <td><%= group.label %></td>
    <td><%= link_to group.study.name,
            group.study unless
            group.study.blank? %></td>
    <td><%= group.current? %></td>
  </tr>
<% end %>
</table>

