<% @studies.each do |study| %>
<% unless @studies.first == study %>
<hr>
<% end %>
<h2><%= link_to study.title, study %></h2>
<p>
  <%= study.abstract %>
  <%= link_to "[more]", study %>
</p>
<% end %>



