<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <td><b><%= link_to study.name, study %></b></td>
    <td><%= study.label %></td>
  </tr>
<% end %>
</table>

