<p>
  <b>Name:</b>
  <%= @questionnaire.name %>
</p>

<p>
  <b>Label:</b>
  <%= @questionnaire.label %>
</p>

<p>
  <b>Abstract:</b>
  <%= @questionnaire.abstract %>
</p>

<p>
  <b>Data collection:</b>
  <%= @questionnaire.data_collection_id %>
</p>
