<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Data collection</th>
  </tr>

<% @questionnaires.each do |questionnaire| %>
  <tr>
    <td><b><%= link_to questionnaire.name, questionnaire %></b></td>
    <td><%= questionnaire.label %></td>
    <td><%= questionnaire.data_collection_id %></td>
  </tr>
<% end %>
</table>

