<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
Listing questionnaires</h1>

<%= render 'table' %>
<%= paginate @questionnaires %>

<br />

<%= link_to 'New Questionnaire', new_questionnaire_path %>
