<p>
  <b>Name:</b>
  <%= @concept_group.name %>
</p>

<p>
  <b>Label:</b>
  <%= @concept_group.label %>
</p>

<p>
  <b>Abstract:</b>
  <%= raw RedCloth.new(@concept_group.abstract).to_html unless @concept_group.abstract.blank? %>
</p>

<p>
  <b>Parent:</b>
  <%= link_to @concept_group.parent.name,
    @concept_group.parent unless
    @concept_group.parent.blank? %>
</p>
