<table>
  <tr>
    <th>Title</th>
    <th>Subgroups</th>
    <th>Concepts</th>
  </tr>

<% @concept_groups.each do |concept_group| %>
  <tr>
    <td><b><%= link_to concept_group.title, concept_group %></b></td>
    <td><%= concept_group.concept_groups.count %></td>
    <td><%= concept_group.concepts.count%></td>
  </tr>
<% end %>
</table>
