<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
  </tr>

<% @concept_groups.each do |concept_group| %>
  <tr>
    <td><%= link_to concept_group.name, concept_group %></td>
    <td><%= concept_group.label %></td>
  </tr>
<% end %>
</table>
