<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
Concept Groups</h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>About</h2>
<%= render 'about' %>
</div>

<% if can? :manage, ConceptGroup %>
<%= link_to 'New Concept group', new_concept_group_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>All Concept Groups</h2>
<%= render 'table' %>
</div>
