<p>In terms of a complete variable description, the <b>concept</b> provides the property of the object in a complete ISO/IEC 11179 description. DDI uses the variable to link the object (universe) with the property (concept) and the representation.</p>
