<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Concept group</th>
  </tr>

<% @concepts.each do |concept| %>
  <tr>
    <td><b><%= link_to concept.name, concept %></b></td>
    <td><%= concept.label %></td>
    <td><%= link_to concept.concept_group.title,
            concept.concept_group unless
            concept.concept_group.blank?%></td>
  </tr>
<% end %>
</table>

