<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Concept group</th>
  </tr>

<% @concepts.each do |concept| %>
  <tr>
    <td><%= link_to concept.name, concept %></td>
    <td><%= concept.label %></td>
    <td><%= link_to concept.concept_group.name, concept.concept_group %></td>
  </tr>
<% end %>
</table>

