<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Group</th>
    <th>Logical product</th>
  </tr>

<% @physical_data_products.order("name").each do |physical_data_product| %>
  <tr>
    <td><b><%= link_to physical_data_product.name, physical_data_product %></b></td>
    <td><%= physical_data_product.label %></td>
    <td><%= link_to physical_data_product.group.name,
            physical_data_product.group unless
            physical_data_product.group.blank? %></td>
    <td><%= link_to physical_data_product.logical_product.name,
            physical_data_product.logical_product unless
            physical_data_product.logical_product.blank? %></td>
  </tr>
<% end %>
</table>

