<p>
  <b>Variable:</b>
  <%= @variable_category.variable_id %>
</p>

<p>
  <b>Value:</b>
  <%= @variable_category.value %>
</p>

<p>
  <b>Label:</b>
  <%= @variable_category.label %>
</p>

<p>
  <b>Frequency:</b>
  <%= @variable_category.frequency %>
</p>

