<table>
  <tr>
    <th>Variable</th>
    <th>Value</th>
    <th>Label</th>
    <th>Frequency</th>
  </tr>

<% @variable_categories.each do |variable_category| %>
  <tr>
    <td><%= variable_category.variable_id %></td>
    <td><%= variable_category.value %></td>
    <td><%= variable_category.label %></td>
    <td><%= variable_category.frequency %></td>
  </tr>
<% end %>
</table>

