
<%= render 'info' %>

<% if can? :manage, @variable_category %>
<div class="box admin">
<%= link_to 'Edit', edit_variable_category_path(@variable_category) %> |
<%= link_to 'Back', variable_categories_path %>
</div>
<% end %>
